/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font: 12px Trebuchet MS, Regular, Taxoma; text-decoration: none; color:#4b8bbf;}
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

body {background: url(../images/body-bg.png) #ffeeff}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#wrapper { width:771px ; margin:0 auto; padding: 14px 4px 16px 5px; background-color:#fff; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header { background: url(../images/header-bg.jpg) no-repeat; width: 771px; height: 194px; overflow: hidden;}
#a-logo  { margin: 37px 0px 0px 38px;display: block; width: 305px; height: 115px;}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#content {padding: 13px 35px 0px 36px;}
h2 { font: 18px Georgia; font-style: Italic; background:#ebf4fb; color:#4b8bbf; padding:6px 0px 8px 12px;}
.read-more+p { border-top: 1px solid #fcf1f7;}
.rose  { background:#fcf1f7; color:#d777b7; }
.blue { margin: 23px 0px 11px 0px;}
a.read-more  { background: url(../images/triangle.gif) no-repeat right 6px; padding-right: 9px; color:#4b8bbf !important;}
#content p  { margin: 5px 0px 7px 0px; padding: 10px 0px 0px 0px; font: 13px Trebuchet MS, Regular;  color: #4f4f4f}
.menu li { width: 136px; float: left; padding: 0 0 0 5px; text-align: center;}
ul.menu { margin-left: -5px; overflow:hidden;}
.block-left { width: 354px;  background:#ebf4fb; margin: 20px 0 0 0; float: left }
.block-left a,.block-right a  { color:#656565;}
.block-left li,.block-right li { padding: 0 0 0 16px; line-height: 1.5;}
.block-right  { width: 332px; background:#ebf4fb; margin: 20px 0 0 0; float: right; }
.li-more  { margin: 14px 0 16px 0;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer { margin:49px 0 16px 0px; width: 682px; font-size: 11px; overflow:hidden; color: #d97fbb; text-align: center; padding-left: 51px} 
#footer a {font-size: 11px; color: #949494;}
#footer li { float:left; padding-right: 15px; }
#footer ul{text-align: justify; }





