/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

body {background: url(../images/background.png) repeat-x #fff}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#wrapper { width:940px ; margin:0 auto; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header { height: 108px; }

 #logo{ float: left; margin: 0px 0px 0px 0px;}
 
 
 #header a { text-decoration: none; color:#396375; font-weight:bold;}
 .icons{ float:left; margin: 45px 90px 0px 94px;}
 .icons li { float:left; padding: 0 4px;}
 .nav { padding-top:48px;}
 .nav li { float:left; padding: 0 9px 0 9px; height: 100%; }
 .active {background:url(../images/head_active.png) no-repeat scroll center bottom; height: 61px !important;}
 #header .nav .active a {color:#E21D5D;}
 #header .nav li a { padding: 44px 0 46px;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#content { width:910px; overflow:hidden }
#content h1 { margin: 31px 0px 21px 0px; color:#396375; border-bottom:  1px #A7C3CF solid; padding-bottom: 20px; font: 55px Myriad Pro, Regular }
#content h2 {float: left; font: 28px Myriad Pro, Regular; color:#EA2778; margin: 43px 17px 0px 0px; width:143px}
#content span  { font: 11px Arial, Regular; color:#F2753D;  float:right;}
p {color:#396375; padding: 35px 20px 48px 5px; float:right; width: 478px; height: 50px; font: 14px Arial, Regular; }
#content li { height: 197px; padding:0px 25px 0px 35px;}
#content .left p { float:left; text-align: right;}
#content .left h2 { float:right; text-align: left;}
#content .left h2 span { float: left;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer  { border-top:  1px #A7C3CF solid; color:#939598;  width:910px; padding-bottom: 100px;}
.copy  { float:right; font-size:10px; }
.foot { padding-top:18px;}
.foot li { float:left;  padding: 0 18px 0 0px; }
#footer a { text-decoration: none; color:#396375;  font: 11px; font-weight: bold}
#footer .active2 a  {color:#F2753D}